<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Minaj by signup</title>
</head>
<body>
    <h2> Sign Up</h2>

    <form action="/user" method="post">
        <label> Name</label>
        <input type="text" placeholder="Enter your name" name="name" />

        <label> Email</label>
        <input type="email" placeholder="Enter your email" name="email" />
        
        <label> Password</label>
        <input type="text" placeholder="Enter password" name="password" />

        <button type="submit"> Signup</button>
    </form>

</body>
</html>